<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row ">
            <div class="col s12 l3 m3">
              <img src="http://via.placeholder.com/300x300" alt="Item Image" class="responsive-img">
            </div>
            <div class="col s12 l1 m1"></div>
            <div class="col s12 l8 m8">
              <div class="row">
                <span class="black-text" style="font-size:160%;">
                  <b>Item Id : </b>{{auction._id}}<br>
                  <b>Item Name : </b>{{auction.name}}<br>
                  <b>Bid Price : </b>₹ {{auction.bidprice}}<br>
                  <b>Security Wallet Balance : </b>₹ {{auction.securitydeposit}}<br>
                  <span id="dayofauction"></span><br>
                  <script>
                  var dateObject="{{auction.dayofauction}}";
                  var dateString=(new Date(dateObject)).toDateString();
                  $("#dayofauction").html("<b>Day of Auction : </b>"+dateString);
                  </script>
                  <span id="dayofcreation"></span><br>
                  <script>
                  var dateObject="{{auction.dayofcreation}}";
                  var dateString=(new Date(dateObject)).toDateString();
                  $("#dayofcreation").html("<b>Created On : </b>"+dateString);
                  </script>
                  <!-- TODO: Add node scheduler and change these -->
                  {{#ifeq auction.state 1}}
                  <b>Status : </b>Not Started<br>
                  {{/ifeq}}
                  {{#ifeq auction.state 0}}
                  <b>Status : </b>Started<br>
                  <form action="/auctions/bidonauction" method="POST" >
                    <div class="row">
                      <div class="input-field col s8 m9 l9">
                        <i class="material-icons prefix">attach_money</i>
                        <input name="bidamount" id="bidamount" type="text" class="validate" required>
                        <label for="bidamount">Bid Price(Rupees)</label>
                      </div>
                      <input name="auctionid" id="auctionid" value = "{{auction._id}}" hidden="true" required>
                      <div class="input-field col s4 m3 l3">
                        <button class="btn waves-effect waves-light teal" type="submit" name="action">Submit
                          <i class="material-icons right">send</i>
                        </button>
                      </div>
                    </div>
                  </form>
                  {{/ifeq}}
                  {{#ifeq auction.state 2}}
                  <b>Status : </b>Over<br>
                  {{/ifeq}}
                  <b>Description : </b>{{auction.description}}<br>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
