<div class="container">
  <div class="section">
    {{#each auctions}}
    <div class="row">
      <div class="col s12 m10">
        <a href="/auctions/auction/{{this._id}}">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <div class="col s3">
                <img src="http://via.placeholder.com/300x300" alt="Item Image" class="circle responsive-img"> <!-- notice the "circle" class -->
              </div>
              <div class="col s9">
                <span class="black-text">
                  <b>Item Id : </b>{{this._id}}<br>
                  <b>Item Name : </b>{{this.name}}<br>
                  <b>Bid Price : </b>₹ {{this.bidprice}}<br>
                  <b>Security Wallet Balance : </b>₹ {{this.securitydeposit}}<br>
                  <span id="dayofauction"></span><br>
                  <script>
                  var dateObject="{{this.dayofauction}}";
                  var dateString=(new Date(dateObject)).toDateString();
                  $("#dayofauction").html("<b>Day of Auction : </b>"+dateString);
                  </script>
                  {{#ifeq this.state 0}}
                  <b>Status : </b>Not Started<br>
                  {{/ifeq}}
                  {{#ifeq this.state 1}}
                  <b>Status : </b>Started<br>
                  {{/ifeq}}
                  {{#ifeq this.state 2}}
                  <b>Status : </b>Over<br>
                  {{/ifeq}}
                  <span class="truncate">{{this.description}}</span>
                </span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    {{/each}}
  </div>
</div>
