 <div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row ">
            <div class="col s12 l6 m6">
              <img src="http://via.placeholder.com/400x400" alt="" class="responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s12 m6 l6 ">
              <div class="row">
                <span class="black-text flow-text">
                  <h3>{{user.firstname}} {{user.lastname}}</h3>
                  <b>User Id : </b>{{user._id}}<br>
                  <b>Email id : </b>{{user.email}}<br>
                  <b>Username : </b>{{user.username}}<br>
                  <b>Wallet Balance : </b>{{user.balance}}<br>
                  <br>
                  <form method="POST" action="/users/addmoney">
                    <div class="input-field col s7 m8 l8">
                      <i class="material-icons prefix">attach_money</i>
                      <input name="amount" id="amount" type="text" class="validate" required>
                      <label for="amount">Add to Wallet(Rupees)</label>
                    </div>
                    <div class="input-field col s5 m4 l4">
                      <button class="btn waves-effect waves-light teal" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                      </button>
                    </div>
                  </form>
                  <br><br><br>
                  <span class="right"> 
                      <a href="/auctions/addauction" class="btn-floating btn-large waves-effect waves-light teal tooltipped" data-position="bottom" data-delay="50" data-tooltip="Add Item for Auction"><i class=" medium material-icons">add</i></a>
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<h4 class="teal-text bold">Sold by You : </h4>
  <div class="section">
    {{#each soldAuctions}}
    <div class="row">
      <div class="col s12 m10">
        <a href="/auctions/auction/{{this._id}}">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <div class="col s3">
                <img src="http://via.placeholder.com/300x300" alt="Item Image" class="circle responsive-img"> <!-- notice the "circle" class -->
              </div>
              <div class="col s9">
                <span class="black-text">
                  <b>Item Id : </b>{{this._id}}<br>
                  <b>Item Name : </b>{{this.name}}<br>
                  <b>Bid Price : </b>₹ {{this.bidprice}}<br>
                  <b>Security Wallet Balance : </b>₹ {{this.securitydeposit}}<br>
                  <span id="dayofauction"></span><br>
                  <script>
                  var dateObject="{{this.dayofauction}}";
                  var dateString=(new Date(dateObject)).toDateString();
                  $("#dayofauction").html("<b>Day of Auction : </b>"+dateString);
                  </script>
                  {{#ifeq this.state 0}}
                  <b>Status : </b>Not Started<br>
                  {{/ifeq}}
                  {{#ifeq this.state 1}}
                  <b>Status : </b>Started<br>
                  {{/ifeq}}
                  {{#ifeq this.state 2}}
                  <b>Status : </b>Over<br>
                  {{/ifeq}}
                  <span class="truncate">{{this.description}}</span>
                </span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    {{/each}}
  </div>
<h4 class="teal-text bold">Bought by You : </h4>
  <div class="section">
    {{#each boughtAuctions}}
    <div class="row">
      <div class="col s12 m10">
        <a href="/auctions/auction/{{this._id}}">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <div class="col s3">
                <img src="http://via.placeholder.com/300x300" alt="Item Image" class="circle responsive-img"> <!-- notice the "circle" class -->
              </div>
              <div class="col s9">
                <span class="black-text">
                  <b>Item Id : </b>{{this._id}}<br>
                  <b>Item Name : </b>{{this.name}}<br>
                  <b>Bid Price : </b>₹ {{this.bidprice}}<br>
                  <b>Security Wallet Balance : </b>₹ {{this.securitydeposit}}<br>
                  <span id="dayofauction"></span><br>
                  <script>
                  var dateObject="{{this.dayofauction}}";
                  var dateString=(new Date(dateObject)).toDateString();
                  $("#dayofauction").html("<b>Day of Auction : </b>"+dateString);
                  </script>
                  {{#ifeq this.state 0}}
                  <b>Status : </b>Not Started<br>
                  {{/ifeq}}
                  {{#ifeq this.state 1}}
                  <b>Status : </b>Started<br>
                  {{/ifeq}}
                  {{#ifeq this.state 2}}
                  <b>Status : </b>Over<br>
                  {{/ifeq}}
                  <span class="truncate">{{this.description}}</span>
                </span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    {{/each}}
  </div>
</div>
